.card-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.lista-produtos {
  max-height: calc(3 * 2.5em);
  overflow-y: auto;
  margin-bottom: 10px;
}

.produto-item {
  display: flex;
  align-items: center;
}

.grafico-pizza {
  margin-left: -5px;
}
