<!-- pagamentos.component.html -->

<div *ngIf="detalhesDaMesa" [style.margin-bottom.px]="alturaBarraInferior">
  <!-- Card para o Total Consumido no topo -->
  <app-total-card [total]="detalhesDaMesa.totalMesa"></app-total-card>

  <!-- Container para os cards dos consumidores -->
  <div class="container-cards" [style.padding-bottom.px]="alturaBarraInferior">
    <!-- Iteração sobre os consumidores para criar um card para cada um -->
    <div
      *ngFor="let consumidor of detalhesDaMesa.consumidores"
      class="card shadow"
    >
      <div class="card-content">
        <img
          [src]="consumidor.avatar"
          class="avatar"
          alt="Avatar do Consumidor"
        />
        <h4>{{ consumidor.nome }}</h4>
        <p>Consumo: {{ consumidor.totalConsumido | currency }}</p>
        <div class="lista-produtos">
          <ul>
            <li *ngFor="let pedido of consumidor.pedidos">
              {{ pedido.nomeProduto }}
              <span *ngIf="pedido.detalhesDivisao"
                >- {{ pedido.detalhesDivisao }}</span
              >
            </li>
          </ul>
        </div>
        <button class="btn-pagar">Pagar</button>
      </div>
    </div>
  </div>
</div>
