// pagamentos.component.scss
@import "./scss/avatar";
@import "./scss/shadow";
@import "./scss/content";
@import "./scss/card";
@import "./scss/button";
.divisor {
  border-top: 1px solid #e0e0e0;
  margin: 1px 0;
}

.total-consumido {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
