<!-- pagamentos.component.html -->

<div *ngIf="detalhesDaMesa">
  <!-- Card para o Total Consumido -->
  <app-total-card [total]="detalhesDaMesa.totalMesa"></app-total-card>

  <!-- Card para os Detalhes da Mesa e Consumidores -->

  <div *ngIf="detalhesDaMesa">
    <div
      *ngFor="let consumidor of detalhesDaMesa.consumidores"
      class="card shadow"
    >
      <div class="card-content">
        <h4>{{ consumidor.nome }}</h4>
        <p>Total Consumido: {{ consumidor.totalConsumido | currency }}</p>
        <div class="lista-produtos">
          <ul>
            <li *ngFor="let pedido of consumidor.pedidos">
              {{ pedido.nomeProduto }}
              <span *ngIf="pedido.detalhesDivisao"
                >- {{ pedido.detalhesDivisao }}</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
