/* Nome do arquivo: cover.component.scss */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // Isso garante que o contêiner ocupe todo o espaço disponível
}

.title-divider {
  height: 2px;
  background-color: #bdbdbd;
  width: 100%; // Você pode ajustar para menos que 100% se quiser que a linha seja mais curta que o contêiner
  margin: 1px 0; // Espaçamento acima e abaixo da linha
}

.cover-card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

  mat-card-header {
    align-items: center;
    justify-content: center;
  }

  mat-card-title {
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 16px;
  }

  .cover-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.5em;
      font-weight: 400;
      margin: 15px 0;
    }

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .cover-status-text {
      font-size: 16px;
      line-height: 36px; // Altura da linha para alinhar com o switch
      margin-right: 8px; // Espaçamento entre o texto e o switch
      // Remover estilos desnecessários se estiverem causando problemas
    }

    .toggler {
      width: 72px;
      margin: 20px 0;
    }

    .toggler input {
      display: none;
    }

    .toggler label {
      display: block;
      position: relative;
      width: 36px;
      height: 18px;
      border: 1px solid #d6d6d6;
      border-radius: 18px;
      background: #e4e8e8;
      cursor: pointer;
    }

    .toggler label::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #d7062a;
      transform: translateY(-50%) translateX(-50%);
      transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
        width 0.15s ease-in-out, height 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
      z-index: 1;
    }

    .toggler label .toggler-on,
    .toggler label .toggler-off {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translateY(-50%) translateX(-50%);
      transition: opacity 0.15s ease-in-out;
      z-index: 2;
    }

    .toggler input:checked + label::after {
      left: 75%;
      background-color: #50ac5d;
    }

    .toggler input:checked + label .toggler-off,
    .toggler input:not(:checked) + label .toggler-on {
      opacity: 0;
    }

    .toggler input:not(:checked) + label .toggler-off,
    .toggler input:checked + label .toggler-on {
      opacity: 1;
    }

    .toggler .path {
      fill: none;
      stroke: #fefefe;
      stroke-width: 7px;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }

    @keyframes toggler-size {
      0%,
      100% {
        width: 26px;
        height: 26px;
      }
      50% {
        width: 20px;
        height: 20px;
      }
    }

    @keyframes toggler-size2 {
      0%,
      100% {
        width: 26px;
        height: 26px;
      }
      50% {
        width: 20px;
        height: 20px;
      }
    }
  }
}
