/* Nome do arquivo: ajuda.component.scss */

// Animação de "fade-in" para o componente ao ser carregado
:host {
  animation: fadeIn ease 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--altura-barra-inferior, 0px));
  overflow: hidden;
}

// Animação de "float" para o card de informações
.info-card {
  animation: float 5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.minimalist-divider {
  width: 60%; // Largura do traço
  margin: 8px auto; // Centraliza e adiciona um espaçamento vertical
  border-top: 1px solid #080808;
}

// Animação de "pulse" para o GIF de informação
.info-gif {
  // A animação será executada apenas uma vez
  animation: pulse 2s forwards;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: none;
}

.developer-info {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  background: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// Keyframes para a animação de "fade-in"
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Keyframes para a animação de "float"
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

// Keyframes para a animação de "pulse"
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
