<!-- Nome do arquivo: ajuda.component.html -->
<mat-card class="info-card">
  <img
    class="info-gif"
    src="https://media.tenor.com/ZXwvpADpyl0AAAAi/harvest-moon-snes.gif"
    alt="Harvest Moon SNES"
  />
  <section class="developer-info">
    <p>Projeto na versão beta.</p>
    <p>Desenvolvido por:</p>
    <div>
      <p>Higor de Deus</p>
      <ul>
        <li>Linkedin:</li>
        <li>Github:</li>
        <li>Whatsapp:</li>
        <li>Email:</li>
      </ul>
    </div>
    <div>
      <p>Gustavo Rodrigues</p>
      <ul>
        <li>Linkedin:</li>
        <li>Github:</li>
        <li>Whatsapp:</li>
        <li>Email:</li>
      </ul>
    </div>
  </section>
</mat-card>
