<!-- Nome do arquivo: ajuda.component.html -->
<mat-card class="info-card">
  <img
    class="info-gif"
    src="https://media.tenor.com/ZXwvpADpyl0AAAAi/harvest-moon-snes.gif"
    alt="Harvest Moon SNES"
  />
  <div class="developer-info">
    <!-- Informações do desenvolvedor aqui -->
    <p style="text-align: center">Projeto em desenvolvimento.</p>
    <p style="text-align: center"><strong>Devs:</strong></p>
    <div style="text-align: center">
      <!-- Centraliza o conteúdo -->
      <p>Higor de Deus</p>
      <mat-divider class="minimalist-divider"></mat-divider>

      <div style="text-align: center">
        <p>
          <a
            href="https://www.linkedin.com/in/higordedeusmatos/"
            target="_blank"
          >
            <img
              alt="Linked logo"
              src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white"
            />
          </a>
          <a
            href="mailto:higordeus22@gmail.com?subject=[GitHub]"
            target="_blank"
          >
            <img
              alt="Gmail logo"
              src="https://img.shields.io/badge/Gmail-FF5722?style=for-the-badge&logo=gmail&logoColor=white"
            />
          </a>
          <a href="https://wa.link/o3bvq9" target="_blank">
            <img
              alt="WhatsApp logo"
              src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white"
            />
          </a>
        </p>
        <p>Gustavo Marques</p>
        <mat-divider class="minimalist-divider"></mat-divider>

        <div style="text-align: center">
          <p>
            <a
              href="https://www.linkedin.com/in/gustavomarques/"
              target="_blank"
            >
              <img
                alt="Linked logo"
                src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white"
              />
            </a>
            <a
              href="mailto:gustavomarques@gmail.com?subject=[GitHub]"
              target="_blank"
            >
              <img
                alt="Gmail logo"
                src="https://img.shields.io/badge/Gmail-FF5722?style=for-the-badge&logo=gmail&logoColor=white"
              />
            </a>
            <a href="https://wa.link/o3bvq9" target="_blank">
              <img
                alt="WhatsApp logo"
                src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white"
              />
            </a>
          </p>
        </div>
        <!-- ... restante do conteúdo ... -->
      </div>
    </div>
  </div></mat-card
>
