.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - altura_da_barra_inferior_px);
  z-index: -1;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

iframe {
  max-width: 100%;
  height: auto;
}

img {
  height: auto;
  max-width: 40%;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  img {
    max-width: 70%;
  }
}
