<div class="cdk-overlay-container" [ngClass]="themeClass">
  <div class="blur-background"></div>
  <div
    class="cdk-global-overlay-wrapper"
    style="justify-content: center; align-items: center"
  >
    <div class="cdk-overlay-pane">
      <div class="mat-mdc-dialog-container">
        <div class="mat-mdc-dialog-surface">
          <!-- Botão de fechar -->
          <button class="close-button" (click)="closeDialog()">&times;</button>

          <!-- Componente de Detalhes do Produto -->
          <app-product-details [produto]="data.produto"></app-product-details>
          <!-- Texto de instrução para seleção de consumidores -->
          <p class="select-consumer-text">
            Escolha os consumidores consumirão este pedido.
          </p>

          <!-- Componente Consumidor -->
          <app-consumidor></app-consumidor>

          <!-- Botão para realizar o pedido -->
          <button class="order-button" (click)="fazerPedido()">
            Fazer Pedido
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
