<!-- consumidor.component.html -->

<div class="gsc-card-consumidores">
  <!-- Ícone para Adicionar Consumidor -->
  <div
    class="consumidor-item adicionar-consumidor"
    (click)="isDialogOpen ? null : adicionarConsumidor()"
  >
    <mat-icon class="gsc-avatar-icon">person_add</mat-icon>
    <div class="nome">Adicionar Consumidor</div>
  </div>

  <!-- Mostrar a lista de consumidores apenas se houver consumidores -->
  <div *ngIf="consumidores.length > 0">
    <!-- Avatares dos consumidores -->
    <div *ngFor="let consumidor of consumidores" class="consumidor-item">
      <img
        [src]="consumidor.avatar"
        class="avatar"
        alt="Avatar do Consumidor"
      />
      <div class="nome">{{ consumidor.nome }}</div>
    </div>
  </div>
</div>
