// consumidor.component.scss

.gsc-card-consumidores {
  max-width: 400px;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;

  display: flex;
  padding: 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  border-radius: 10px;

  ::-webkit-scrollbar {
    display: none;
  }
}

.consumidor-item {
  flex: 0 0 auto;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.gsc-avatar-icon {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.nome {
  text-align: center;
}

.adicionar-consumidor .nome {
  font-size: 12px;
}

.adicionar-consumidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .gsc-card-consumidores {
    max-width: 270px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }

  .gsc-avatar-icon {
    font-size: 40px !important;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .consumidor-item {
    margin-right: 10px;
    display: inline-flex;
  }

  .avatar,
  .gsc-avatar-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }

  .nome {
    font-size: 13px;
  }

  .adicionar-consumidor .nome {
    font-size: 10px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
