<!-- menusuperior.component.html -->
<div
  class="gs-menu-flutuante"
  [ngClass]="{ claro: temaClaro, escuro: !temaClaro }"
>
  <button class="gs-menu-button tema" mat-icon-button (click)="alternarTema()">
    <mat-icon>{{ iconeTema }}</mat-icon>
  </button>
  <button class="gs-menu-button mesa" mat-icon-button *ngIf="numeroMesa">
    <img
      src="https://cdn-icons-png.flaticon.com/512/3437/3437521.png"
      alt="Ícone da mesa"
      class="icone-mesa"
    />
    <span class="texto-mesa">{{ numeroMesa }}</span>
  </button>
</div>
