/* menu-superior.component.scss */

.gs-menu-flutuante {
  height: 18px;
  position: fixed;
  top: 15px;
  left: 10px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}

.gs-menu-button {
  border: none;
  background: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;

  &.mesa {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    .mat-icon,
    .texto-mesa {
      transition: none;
    }
  }

  &.tema {
    border-radius: 15px;

    .mat-icon {
      color: black;
      transition: color 0.3s;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &:focus {
    outline: none;
  }
}

.icone-mesa {
  width: 24px;
  height: auto;
  margin-right: 4px;
}

.texto-mesa {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}
