@use "@angular/material" as mat;

$ifood-primary: mat.define-palette(mat.$red-palette, 600);
$ifood-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$ifood-warn: mat.define-palette(mat.$red-palette, 800);
$custom-background: #f5f5f5;

$ifood-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $ifood-primary,
      accent: $ifood-accent,
      warn: $ifood-warn,
    ),
  )
);

// Sobrescrevendo a cor do mat-toolbar para os temas
.ifood-light-theme {
  .barradenavegacaoinferior {
    background-color: #e53935 !important;
  }
  background-color: $custom-background;
}

@include mat.all-component-themes($ifood-light-theme);
