// Variáveis de tema claro
$ifood-primary: #e53935;
$ifood-accent: #ff5252;
$ifood-warn: #d32f2f;
$custom-background: #f5f5f5;
$custom-text: #333333;
$custom-shadow: rgba(0, 0, 0, 0.24);

// Tema claro
.ifood-light-theme {
  @extend .ifood-common-theme;

  background-color: $custom-background;
  color: $custom-text;

  .toast {
    background: #e53935;
    color: #f5f5f5;
  }

  .mat-toolbar {
    background-color: $ifood-primary;
    color: $custom-background;
  }

  .light-theme-snackbar {
    color: $custom-background;
    background: $ifood-primary;
  }

  .price {
    font-weight: bold;
    margin-top: auto;
    color: $ifood-primary;
  }

  .food-order-button {
    background-color: $ifood-accent;
    color: #fff;
    box-shadow: 0 2px 3px $custom-shadow;

    &:hover {
      background-color: darken($ifood-accent, 15%);
      box-shadow: 0 3px 5px $custom-shadow;
    }
  }
}
