.product-section {
  margin: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.product-image {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.product-accordion {
  .mat-expansion-panel-header {
    background-color: #e1f5fe;
    border-bottom: 1px solid #b3e5fc;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    &:not(.mat-expanded) {
      border-radius: 4px;
    }
    &.mat-expanded {
      border-radius: 4px 4px 0 0;
    }
  }

  .custom-panel-header {
    .mat-panel-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #01579b;
    }
  }

  .mat-expansion-panel-body {
    padding: 16px;
  }
}

.price {
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

button {
  width: 100%;
}
