.bottom-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1050;
}

.nav-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px 0;
    cursor: pointer; // Muda o cursor para indicar que o ícone é clicável
    transition: transform 0.3s ease, box-shadow 0.3s ease; // Suaviza as transformações
    border-radius: 8px; // Bordas suaves

    // Sombra suave
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    // Efeito de hover
    &:hover {
        transform: scale(1.05); // Aumenta a opção inteira em 5%
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra mais escura e mais difundida
    }

    // Efeito de clique
    &:active {
        transform: scale(0.95); // Diminui a opção inteira em 5%
    }
}

.nav-option-center {
    flex: 1;
    max-width: 300px;
}

.nav-option .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option .label-container {
    text-align: center;
    font-size: 1em;
}

// Para dispositivos pequenos
@media (max-width: 600px) {
    .nav-option .label-container {
        font-size: 0.8em;
    }
}

// Para dispositivos ainda menores
@media (max-width: 400px) {
    .nav-option .label-container {
        font-size: 0.6em;
    }
}