<mat-toolbar color="primary" class="bottom-nav">
  <ng-container *ngFor="let option of navOptions; let i = index">
    <span *ngIf="i < 2" class="nav-option" [routerLink]="option.route">
      <div class="icon-container">
        <mat-icon>{{ option.icon }}</mat-icon>
      </div>
      <div class="label-container">
        {{ option.label }}
      </div>
    </span>
  </ng-container>

  <span class="nav-option nav-option-center" [routerLink]="'/home'">
    <div class="icon-container">
      <mat-icon>home</mat-icon>
    </div>
    <div class="label-container">Home</div>
  </span>

  <ng-container *ngFor="let option of navOptions; let i = index">
    <span
      *ngIf="i >= 2 && i < 4"
      class="nav-option"
      [routerLink]="option.route"
    >
      <div class="icon-container">
        <mat-icon>{{ option.icon }}</mat-icon>
      </div>
      <div class="label-container">
        {{ option.label }}
      </div>
    </span>
  </ng-container>
</mat-toolbar>
