<!-- buttongroup.component.html -->
<div class="button-group">
  <button class="custom-button" (click)="acaoBotao1()">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2335/2335114.png"
      alt="Icone 1"
    />
    <span class="button-text">Esse pedido é pra mim</span>
    <span class="button-caption">Pedido para pagamento individual</span>
  </button>

  <button class="custom-button" (click)="acaoBotao2()">
    <img
      src="https://cdn-icons-png.flaticon.com/512/4807/4807598.png"
      alt="Icone 2"
    />
    <span class="button-text">Vou dividir esse pedido</span>
    <span class="button-caption">Pedido para divisão de pagamento</span>
  </button>
</div>
