<!-- barradenavegacaoinferior.component.html -->
<mat-toolbar color="primary" class="barradenavegacaoinferior">
  <ng-container *ngFor="let opcao of opcoesEsquerda">
    <span class="opcaonavegacao" [routerLink]="opcao.rota">
      <div class="containericone">
        <mat-icon>{{ opcao.icone }}</mat-icon>
      </div>
      <div class="containerrotulo">
        {{ opcao.label }}
      </div>
    </span>
  </ng-container>

  <!-- Link de início atualizado para chamar irParaInicio() -->
  <span class="opcaonavegacao opcaonavegacaocentro" (click)="irParaInicio()">
    <div class="containericone">
      <mat-icon>home</mat-icon>
    </div>
    <div class="containerrotulo">Início</div>
  </span>

  <ng-container *ngFor="let opcao of opcoesDireita">
    <span class="opcaonavegacao" [routerLink]="opcao.rota">
      <div class="containericone">
        <mat-icon>{{ opcao.icone }}</mat-icon>
      </div>
      <div class="containerrotulo">
        {{ opcao.label }}
      </div>
    </span>
  </ng-container>
</mat-toolbar>
