.card-pagamento {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;

  .valor-total {
    max-width: 180px;
    height: auto;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    p {
      font-size: 1em;
      color: #555;
      margin: 5px 0;
      font-weight: bold;
    }
  }

  .opcoes-pagamento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .linha-pagamento {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
      animation: fadeInUp 0.5s ease-in-out;

      .btn-opcao {
        flex: 1 1 30%;
        margin: 0 5px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        fa-icon {
          margin-right: 5px;
        }
      }
    }
  }

  .btn-confirmar {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
    display: block;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
