<div class="card-pagamento">
  <h3>Valor Total: R$ {{ data.valorTotal | number : "1.2-2" }}</h3>

  <!-- Opções de Pagamento -->
  <div class="opcoes-pagamento">
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('PIX')"
      [class.selected]="opcaoPagamentoSelecionada === 'PIX'"
    >
      PIX
    </button>
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('Apple Pay')"
      [class.selected]="opcaoPagamentoSelecionada === 'Apple Pay'"
    >
      Apple Pay
    </button>
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('Google Pay')"
      [class.selected]="opcaoPagamentoSelecionada === 'Google Pay'"
    >
      Google Pay
    </button>
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('Cartão de Crédito')"
      [class.selected]="opcaoPagamentoSelecionada === 'Cartão de Crédito'"
    >
      Cartão de Crédito
    </button>
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('Cartão de Débito')"
      [class.selected]="opcaoPagamentoSelecionada === 'Cartão de Débito'"
    >
      Cartão de Débito
    </button>
    <button
      class="btn-opcao"
      (click)="selecionarOpcaoPagamento('Dinheiro')"
      [class.selected]="opcaoPagamentoSelecionada === 'Dinheiro'"
    >
      Dinheiro
    </button>
  </div>

  <!-- Botão Confirmar -->
  <button class="btn-confirmar">Confirmar</button>
</div>
