$cor-primaria: #f44336; // Cor do iFood
$cor-secundaria: #ff5722; // Cor de botão laranja
$cor-fundo-acoes: #f5f5f5;

@mixin sombra-box($x, $y, $blur, $cor) {
  box-shadow: $x $y $blur $cor;
}

@mixin transicao-padrao {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-section {
  margin: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  @include transicao-padrao;
  display: flex;
  flex-direction: row; // Mantém em linha para alinhar imagem e conteúdo lado a lado
  align-items: stretch; // Estica os itens filhos para ocupar toda a altura do card
  border-radius: 8px;
  overflow: hidden;
  @include sombra-box(0, 6px, 20px, rgba(0, 0, 0, 0.15));
  height: auto; // Certifique-se de que a altura não seja fixa para permitir que o card cresça com o conteúdo

  &:hover {
    transform: translateY(-5px);
    @include sombra-box(0, 12px, 24px, rgba(0, 0, 0, 0.18));
  }
}

.product-image {
  object-fit: cover; // Mantém a proporção da imagem sem cortar
  height: 100%; // Faz com que a imagem sempre ocupe 100% da altura do card
  flex-grow: 0; // Previne a imagem de crescer além do necessário
  flex-shrink: 0; // Previne a imagem de encolher
  order: -1;
  width: 50%; // Ajusta a largura automaticamente
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distribui o espaço entre o topo e o botão
  padding: 10px;
  flex-grow: 1;
  order: 1;
  width: 50%;
}

.product-info {
  flex-grow: 1; // Permite que esta seção cresça e preencha o espaço disponível
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distribui o espaço entre título, descrição e preço
}

.product-description {
  font-size: 0.9rem;
  color: #666;
  // Limita a descrição a um certo número de linhas, por exemplo, 3 linhas.
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-accordion {
  margin-top: 50px;
  display: block;

  .mat-expansion-panel {
    margin-bottom: 16px;
    border: none;
    @include sombra-box(0, 0, 0, transparent);
  }

  .mat-expansion-panel-header {
    @include transicao-padrao;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; // Cor de fundo branca
    color: #212121; // Cor do texto
    padding: 16px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    @include sombra-box(0, 2px, 6px, rgba(0, 0, 0, 0.05)); // Sombra sutil

    &:hover {
      background-color: darken(white, 5%);
      @include sombra-box(0, 4px, 8px, rgba(0, 0, 0, 0.05)); // Sombra no hover
    }
  }

  .mat-panel-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .mat-expansion-panel-body {
    padding: 16px;
  }
}

.price {
  color: $cor-primaria;
  font-weight: bold;
  margin-top: auto; // Isso empurra o preço para cima do botão de pedido
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: $cor-fundo-acoes;
  margin-top: auto;
}

button {
  width: 100%;
  align-self: center;
  background-color: $cor-secundaria;
  color: white;
  border-radius: 4px;
  @include sombra-box(0, 2px, 4px, rgba(0, 0, 0, 0.24));
  @include transicao-padrao;

  &:hover {
    background-color: darken($cor-secundaria, 10%);
    @include sombra-box(0, 4px, 8px, rgba(0, 0, 0, 0.24));
  }
}
