<!-- cardapio.component.html -->

<div
  [class.ifood-dark-theme]="isDarkTheme"
  [class.ifood-light-theme]="!isDarkTheme"
  [style.padding-bottom.px]="alturaBarraInferior$ | async"
>
  <mat-accordion class="product-accordion" multi>
    <ng-container
      *ngFor="let categoria of categorias$ | async; trackBy: trackByCategoria"
    >
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ categoria.icon }}</mat-icon>
            <span>{{ categoria.nome }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="product-grid">
          <ng-container
            *ngFor="let produto of categoria.produtos; let i = index"
          >
            <mat-card class="product-card" [class.dark-theme]="isDarkTheme">
              <div class="product-content">
                <div class="product-info">
                  <h3>{{ produto.nome }}</h3>
                  <p class="product-description">{{ produto.descricao }}</p>
                  <p class="price">R$ {{ produto.preco | number : "1.2-2" }}</p>
                </div>
                <button mat-button>Pedir</button>
              </div>
              <img
                mat-card-image
                [src]="produto.imageUrl"
                alt="{{ produto.nome }}"
                class="product-image"
              />
            </mat-card>
          </ng-container>
          <p *ngIf="categoria.produtos.length === 0">
            Não há produtos disponíveis em {{ categoria.nome }}.
          </p>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
