// cardapio.component.scss
@mixin transicao-padrao {
  transition: transform 0.3s ease;
}

.product-section {
  margin: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  @include transicao-padrao;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 8px;
  overflow: hidden;
  height: auto;

  &:hover {
    transform: translateY(-5px);
  }
}

.product-image {
  object-fit: cover;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  order: -1;
  width: 50%;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-grow: 1;
  order: 1;
  width: 50%;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-description {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-accordion {
  margin-top: 50px;
  display: block;

  .mat-expansion-panel {
    margin-bottom: 16px;
    border: none;
  }

  .mat-expansion-panel-header {
    @include transicao-padrao;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .mat-panel-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .mat-expansion-panel-body {
    padding: 16px;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: auto;
}

button {
  width: auto;
  align-self: center;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  @include transicao-padrao;

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}
