// styles.scss

// Importações e Configurações do Angular Material
@use "@angular/material" as mat;
@include mat.core();

// Importação dos temas
@import "./styles/themes/light-theme";
@import "./styles/themes/dark-theme";

// Estilos base
.base-font {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

// Estilos globais básicos
html,
body {
  height: 100%;
  margin: 0;
}

body {
  @extend .base-font;
  background-color: rgba(255, 255, 255, 0.8);
}

// Tema escuro aplicado ao corpo
body.ifood-dark-theme {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e0e0e0;
}

// Estilos para elementos de mídia
.media-iframe {
  max-width: 100%;
  height: auto;
}

.media-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Estilos para responsividade
@media (max-width: 768px) {
  .media-img-small-device {
    max-width: 70%;
  }
}
