@use '@angular/material' as mat;

@include mat.core();

// Cores e paleta do iFood
$ifood-primary: mat.define-palette(mat.$red-palette, 600);
$ifood-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$ifood-warn: mat.define-palette(mat.$red-palette, 800);

$ifood-light-theme: mat.define-light-theme((color: (primary: $ifood-primary,
        accent: $ifood-accent,
        warn: $ifood-warn,
      )));

$ifood-dark-theme: mat.define-dark-theme((color: (primary: $ifood-primary,
        accent: $ifood-accent,
        warn: $ifood-warn,
      )));

.ifood-light-theme {
  @include mat.all-component-themes($ifood-light-theme);
}

.ifood-dark-theme {
  @include mat.all-component-themes($ifood-dark-theme);
}

// Estilos globais e fontes podem ir aqui
html,
body {
  height: 100%;
  font-family: 'Fonte-do-iFood', Roboto, "Helvetica Neue", sans-serif; // Substitua 'Fonte-do-iFood' pela fonte real do iFood se você tiver
}

body {
  margin: 0;
}