// styles.scss
// Importações e Configurações do Angular Material
@use "@angular/material" as mat;

// Importação dos temas
@import "./styles/themes/light-theme";
@import "./styles/themes/dark-theme";

// Estilos base
*:not(mat-icon) {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Estilos globais básicos
html,
body {
  height: 100%;
  margin: 0;
}

// Estilos para elementos de mídia
.media-iframe {
  max-width: 100%;
  height: auto;
}

.media-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Estilos para responsividade
@media (max-width: 768px) {
  .media-img-small-device {
    max-width: 70%;
  }
}

// Estilos comuns entre temas
.ifood-common-theme {
  .mat-card,
  .product-content,
  .product-accordion,
  .mat-expansion-panel,
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-body,
  .mat-expansion-panel-header,
  .product-grid {
    box-shadow: none;
    border: none;
  }

  .product-card {
    animation: fadeIn 0.5s ease-out;
    box-shadow: 0 2px 10px $custom-shadow;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 12px $custom-shadow;
    }
  }

  .food-order-button {
    padding: 6px 18px;
    align-self: center;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
    }
  }
}

.cdk-overlay-container {
  position: fixed; /* Usa position fixed para posicionar relativo à viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o elemento */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999 !important;
}

.mat-mdc-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-dialog-surface {
  /* Seus estilos personalizados aqui */
  /* Por exemplo, ajustar a largura ou altura, se necessário */
}
