// styles.scss

// Importações e Configurações do Angular Material
@use "@angular/material" as mat;
@include mat.core();

// Importação dos temas
@import "./styles/themes/_light-theme";
@import "./styles/themes/_dark-theme";

// Estilos base
*:not(mat-icon) {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}

// Estilos globais básicos
html,
body {
  height: 100%;
  margin: 0;
}

// Estilos para elementos de mídia
.media-iframe {
  max-width: 100%;
  height: auto;
}

.media-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Estilos para responsividade
@media (max-width: 768px) {
  .media-img-small-device {
    max-width: 70%;
  }
}
