.botao-icone-tema {
  position: fixed;
  top: 10px;
  right: 10px; // Posição padrão
  border-radius: 70%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 1100;
  display: flex; // Para alinhamento do ícone
  align-items: center; // Alinha verticalmente ao centro
  justify-content: center; // Alinha horizontalmente ao centro

  .botao-icone-tema .mat-icon {
    color: black; // Isso vai definir a cor do ícone para preto
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  // Estilos específicos para dispositivos móveis ou telas pequenas
  @media (max-width: 480px) {
    right: 20px; // Ajuste o posicionamento para dispositivos móveis

    .mat-icon {
      font-size: 20px; // Reduza o tamanho do ícone para dispositivos móveis
    }
  }
}
