.botao-icone-tema {
    position: fixed;
    top: 16px;
    right: 16px;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 1100;

    .mat-icon {
        font-size: 25px;
        line-height: 25px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}